ng-sidebar-container{
    height: 100vh;
}

::ng-deep .ng-sidebar {
    background-color: rgb( 55,30,4,0.97);
    width: 200px;
    padding: 1em 3em;
    box-shadow: 0 0 2.5em rgb(53, 53, 52);
}
.menu {
    margin-top: 3em;
    display: block;
    
}
.menu  a {
    display: block;
    width: 100%;
    color: rgb(238,142,36,1);
}
p{
    color:rgb(238,142,36,1);
    font-size: large;
    font-weight: bold;
}
p span{
   background-color: rgb(238,142,36,1); 
   color:rgb( 55,30,4,0.97);
}
