<!-- <router-outlet></router-outlet>
<ng-sidebar-container>
  
  <ng-sidebar [opened]="opened">
    <p>Neighbor<span>hood</span></p>
    <button (click)="toggleSidebar()">Close Sidebar</button>
    <nav class="menu">
      
      <a routerLink="/" (click)="toggleSidebar()">Home</a>
      <a routerLink="/profile" (click)="toggleSidebar()">Profile</a>
      <a routerLink="/hoods" (click)="toggleSidebar()">Hoods</a>
    </nav>
  </ng-sidebar>
  <div ng-sidebar-content>
    
    <button (click)="toggleSidebar()">
      Open Sidebar
    </button> 
    
    <router-outlet></router-outlet>
  </div>
</ng-sidebar-container> -->

<app-root-nav>
  <router-outlet></router-outlet>
</app-root-nav>