<div class="container mt-2">
  <div class="row app-container p-2">
    <div class="col-lg-10 offset-md-1">
      <!-- <div class="card mb-5" style="width: 18rem;">
        <img src="../assets/buildings.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Kasarani Neighborhood</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>

      <div class="card mb-5" style="width: 18rem;">
        <img src="../assets/san-francisco.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">K.Wendani Neigh</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div> -->

      <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-4">
          <div class="card">
            <img src="../assets/buildings.jpg" class="card-img-top" alt="Kasarani">
            <div class="card-body">
              <h5 class="card-title">Kasarani Neighborhood</h5>
              <p class="card-text"> </p>
              <a href="#" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img src="../assets/san-francisco.jpg" class="card-img-top" alt="K.Wendani">
            <div class="card-body">
              <h5 class="card-title">K.Wendani Neighborhood</h5>
              <p class="card-text"> </p>
              <a href="#" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img src="../assets/condominium.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text"> </p>
              <a href="#" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img src="../assets/nairobi.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text"> </p>
              <a href="#" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>