/* You can add global styles to this file, and also import other style files */
@import url(https://unpkg.com/bootstrap@4.5.0/dist/css/bootstrap.min.css);

/* 

body h1{
    color:rgb(238,142,36,1);
    text-align: center;
    
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
html, body {
    height: 100%;

}
/* #welcome{
    padding: 100px;
} */

body {
    background-image: url(../src/assets/home-hood.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}